:root {
    --first-color: #202123;
    --second-color: white;
    --third-color: #181818;
    --fourth-color: #303135;
    --five-color: #303135;
}

.dark-mode {
    --first-color: white;
    --second-color: #202123;
    --third-color: #f2f2f2;
    --fourth-color: #f2f2f2;
    --five-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--first-color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .container {
        padding: 0;
    }
}

/* Small screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}

/***************************************************************/

/* Start header */

header {
    position: relative;
    padding: 18px;
}

header nav > i {
    font-size: 20px;
    color: var(--second-color);
    cursor: pointer;
}

/* End header */

/***************************************************************/

/* Start Timer */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .box {
    max-width: 100%;
    width: 600px;
    border: 1px solid var(--five-color);
    margin: auto;
    border-radius: 10px;
}

.container .tab {
    position: relative;
}

.container ul {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--fourth-color);
}

.container .targetLine {
    position: absolute;
    bottom: 0;
    background-color: #4790bb;
    width: 50%;
    height: 3px;
}

.container .targetLine.animation-right {
    animation: goRight 0.7s ease-out alternate;
}

@keyframes goRight {
    50%, 100% {
        transform: translateX(100%);
    }
}

.container ul li {
    width: 50%;
    text-align: center;
    color: var(--second-color);
    padding: 15px;
    cursor: pointer;
}

.container .time {
    padding: 50px 20px;
}

.container .timer2 {
    display: none;
}

.container .show {
    display: block;
}

.container .maske {
    display: none;
}

.container .time input {
    color: var(--second-color);
    background: transparent;
    width: 200px;
    height: 80px;
    border: none;
    border-bottom: 1px solid var(--fourth-color);
    outline: none;
    font-size: 50px;
}

.container .control {
    border-top: 1px solid var(--fourth-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .control .control-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .control .control-btn button {
    width: 70px;
    padding: 7px 10px;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.container .control .control-btn button:first-child {
    color: var(--first-color);
    background-color: #4790bb;
}

.container .control .control-btn button:first-child:hover {
    background-color: #135ec0;
}

.container .control .control-btn button:last-child:hover {
    background-color: #202123;
    outline: 1px solid black;
}

.container .control .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container .control .icons i {
    color: var(--second-color);
    font-size: 17px;
    cursor: pointer;
    padding: 10px;
}
/* End Timer */